body{
    height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden
}

/*section1 starts*/

#sec1{
    width:  100vw;
    height: 900px;
    
}

#sec1::before{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url(img/front-page-header.jpg);
  background-position: center;
  background-size: cover;
}

.custom-css-nav-had{
  --bs-bg-opacity: 0;
}
.custom-ul-nav{
  position: absolute;
    left: 45em;
    display: flex;
    justify-content: space-between;
    width:50%;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.custom-touch-navFonts{
  color: #fff;
  font-size: 16px;
    line-height: 26px;
}


/*responsive design*/

@media (min-width:350px) and (max-width:767px) {
  html,body{
    width: 100%;
    overflow-x: hidden;
  }
  .custom-ul-nav{
    justify-content: space-between;
    width: 23%;
    /* margin-right: 334px; */
    position: absolute;
    left: 268px;
    display: none;
    margin-top: 22px;
    animation-name: mov;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    
  }
  @keyframes mov {
    from{
      left: 300px;
    }
    to{
      left: 268px;
    }
  }
  
  .custom-collapse-btn{
    margin-left: 124px;
  }
}

/* tab responsive mode */

@media (min-width:768px) and (max-width:1366px) {
  html,body{
    width: 100%;
    overflow-x: hidden;
  }
  .custom-ul-nav{
    left: 41em;
    width: 6%;
    display: none;
    margin-top: 22px;
    animation-name: mov;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes mov {
    from{
      left: 48em;
    }
    to{
      left: 41em;
    }
  }
  .custom-collapse-btn{
    margin-left: 504px;
  }
  

}
